& {
  --donation-amount__button_border-color_checked: transparent;

  [name="transaction.donationAmt.other"] {
    font-size: 17px;
  }
  .recurring-arrow {
    p {
      font-size: 20px;
      margin-left: 0;
    }
    img {
      height: 35px;
      width: 33px;
      margin-top: 5px;
    }
  }

  h1,
  h2 {
    text-align: center;
    font-family: var(--default_font-family);
    font-size: var(--default_font-size);
    color: var(--color-green);
    font-weight: 700;
  }


  form.en__component > .en__component {
    position: relative;

    .section-navigation {
      position: absolute;
      // height: 100px;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      button {
        position: relative;
        height: 50px;
        min-width: 60px;
        padding: 0 12px;
        border-radius: var(--button_border-radius);
        color: #fff;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.84px;
        margin-bottom: 0;
        transform: translateZ(0);
        backface-visibility: hidden;
        small {
          font-size: 100%;
        }
        &.section-navigation__previous {
          color: #fff;
          background-color: var(--color_blue);
          &:hover {
            &::before {
              opacity: 0.5;
            }
          }
        }

        &.section-navigation__submit,
        &.section-navigation__next {
          background-color: var(--color_orange);
          opacity: 1;
          width: 190px;
          svg {
            transition: 0.3s transform ease-in-out;
            transform: translateX(15px);
          }
          &:hover {
            background-color: var(--color_orange);
            svg {
              transform: translateX(30px);
            }
          }
        }
        &.section-navigation__submit {
          min-width: 190px;
          max-width: 230px;
          width: auto;
        }
        &[data-section-id="0"] {
          width: 100%;
        }
      }
    }
    .section-count {
      position: absolute;
      right: 0;
      bottom: -30px;
      font-size: 10px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.84px;
      color: var(--default_color);
      span {
        font-weight: bold;
      }
    }
    > .en__component {
      min-width: auto;
    }
  }


  &[data-engrid-embedded] {

    height: 100vh;

    &[data-thank-you] {
      form.en__component {
        & > .en__component {
          width: auto;
        }
      }
    }

    form.en__component {
      // scroll-snap-type: x mandatory;
      margin: 0 auto;
      display: grid;
      grid-auto-flow: column;
      // overscroll-behavior-x: contain;
      // scroll-behavior: smooth;

      & > .en__component {
        height: 100vh;
        width: 350px;
        padding: 40px 20px;
        // scroll-snap-align: start;

        & > .en__component {
          height: 100%;
        }
      }

      .en__component--row
        > .en__component--column
        .en__component:first-of-type
        > *:first-child {
        margin-top: 0;
        padding-top: 0;
      }

      .en__component--row
        > .en__component--column
        .en__component:last-of-type
        > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .en__submit,
    .en__errorHeader,
    .en__errorList {
      display: none;
    }
  }
  .has-error {
    label,
    .en__field__input--other,
    .en__field__input {
      border-color: var(--error__color) !important;
      background-color: rgba(255, 238, 235, 0.4);
    }
  }

  .back-link {
    display: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
  }
  &[data-engrid-payment-type="stripedigitalwallet"],
  &[data-engrid-payment-type="paypaltouch"],
  &[data-engrid-payment-type="daf"] {
    [data-last-section="true"] {
      .section-navigation {
        display: none !important;
      }
    }
    .back-link {
      display: block;
      text-decoration: none;
    }
  }

  iframe[title^="recaptcha"] {
    position: fixed;
    left: -1px;
    top: -1px;
  }
  .en__captcha {
    margin-top: 15px;
    transform: scale(0.895);
    transform-origin: left;
  }


  .en__captcha {
    margin: 0;
    max-width: 270px;
    padding: 0;
    transform-origin: left;
  }


  [data-upsell-section="true"] {
    .en__component--column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .upsell-buttons {
    margin-bottom: 4rem;
    button {
      width: 100%;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.05);
        svg {
          transform: scale(1.2);
        }
      }
      svg {
        margin-right: 5px;
        max-width: 35px;
        max-height: 35px;
        height: auto;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        transition: transform 0.3s ease-in-out;
      }
    }
  }
  .upsell-button {
    background-color: transparent;
    color: #22214a;
    border: 1px solid #22214a;
    font-size: 1.4rem;
  }
  .upsell-primary {
    background-color: var(--color_orange);
    color: #fff;
    border: 1px solid var(--color_orange);
    font-size: 1.4rem;

    svg {
      margin-left: -35px;
    }
  }
  .upsell-reject-button {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #22214a;
    &:hover {
      color: #22214a;
      text-decoration: underline;
    }
  }
  &:not([data-engrid-gdcp="false"]) {
    .en__field--phoneNumber2 .en__field__notice {
      display: block;
    }
    .en__field--engrid\.gdcp-mobile_phone .en__field__element {
      display: none;
    }
  }
  .sms-disclaimer {
    margin-top: -8px;
    & > p {
      font-size: 0.75rem;
      font-style: italic;
      line-height: 1rem;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  [data-section-id="1"][data-upsell-section="true"] {
    h1,
    h2 {
      font-size: 28px;
      color: var(--color_blue);
    }
    .en__component--column {
      gap: 20px;
      justify-content: unset;
    }
  }
  .donation-ask {
    p {
      text-align: center;
      margin-top: -5px;
      font-size: 16px;
      &::after {
        display: none;
      }
    }
  }
}
