@font-face {
  font-family: "Calendas Plus";
  font-style: normal;
  font-weight: normal;
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10028/calendas-plus-regular.woff2") format("woff2"), url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10028/calendas-plus-regular.woff") format("woff")
}

@font-face {
  font-family: "Gibson";
  font-style: normal;
  font-weight: normal;
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10028/gibson-light-webfont.woff2") format("woff2"), url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10028/gibson-light-webfont.woff") format("woff")
}

@font-face {
  font-family: "Gibson";
  font-style: normal;
  font-weight: bold;
  src: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10028/gibson-semibold-webfont.woff2") format("woff2"), url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10028/gibson-semibold-webfont.woff") format("woff")
}
