// NTHP2 Theme - LeftLeft1Col layout specific styles

//noinspection SassScssResolvedByNameOnly
&[data-engrid-layout="centercenter2col"][data-engrid-subtheme="multistep"] {
  --engrid__body-title_padding: 0 20px;
  --engrid__body-top_padding: 0 20px;
  --engrid__body-banner_padding: 24px 20px;

  form>.en__component--advrow .content-footer {
    grid-column: pc-start / pc-end;
    padding: 0;
    margin-top: 1rem;
    text-align: center;

    &>.en__component--copyblock {
      padding: 10px;
    }
  }

  .footer-copy {
    font-size: 14px;
    margin: 0 0 1.5rem 0;
    line-height: 22px;
    text-align: center;
  }

  .body-header {
    height: 65px;
  }

  @media (min-width: 992px) and (max-width: 1320px) {
    --engrid__body-main_padding: 0 20px;
  }

  @media (max-width: 991.98px) {
    --engrid__body-title_padding: var(--engrid__body-main_padding);
    --engrid__body-top_padding: var(--engrid__body-main_padding);
    --engrid__body-banner_padding: 0 0;
  }
}